In [32]:
import pandas as pd

In [33]:
data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
pd.DataFrame(data)

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [34]:

data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
pd.DataFrame(data,columns=["name","age"])

     name  age
0    Alex   10
1     Bob   12
2  Clarke   13

In [35]:

data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df=pd.DataFrame(data,columns=["name","age"],index=["one","two","three"])

In [36]:
df

         name  age
one      Alex   10
two       Bob   12
three  Clarke   13

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, one to three
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes